body {
    font-family: Helvetica, sans-serif;
    background-color: #1F2937;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    color:white;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    gap: 30px;
}

img {
    background-color: red;
}


.header, .hero, .info, .quotebox, .signup, .footer {
    padding:0 200px;
}

/* header section */

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    padding: 20px 200px;
}

.header h1 {
    font-size: 24px;
    font-weight: 900;
    margin:0;
    padding:0;
}

.header ul {
    font-size: 18px;
    color: #E5E7EB;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    color:#3882F6;
}

/* hero section */

.hero {
    display: flex;
    height: 200px;
    padding-bottom: 100px;
    align-items: center;
    gap: 20px;
}

.hero-left {
    max-height:200px;
    flex: 1;
    padding: 0;
    margin: 0;
}

.hero-right {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height:200px;
    flex: 1;
    background-color: grey;   
}

.hero-left h2 {
    font-size: 48px;
    font-weight: 800;
    max-width: 300px;
    margin:0px;
}

.hero-left p {
    font-size: 18px;
    max-width: 400px;
    color: #E5E7EB;
    padding: 8px 0px;
}

.hero-left button {
    background-color: #3882F6;
    color:white;
    text-decoration: none;
    border: none;
    padding: 10px 30px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 18px;
}

/* info section */

.info {
    color: #1F2937;
    background-color:white;
    display:flex;
    flex-direction: column;
    justify-content: stretch;
    text-align: center;
    padding-bottom: 80px;
}

.container {
    display:flex;
    justify-content: center;
    gap: 40px;
}

.info h3 {
    font-size: 32px;
}

.image {
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.box {
    border: solid #3882F6;
    border-radius:25px;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}



/* quote section */

.quotebox {
    background-color: #e5e7eb;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #1F2937;
}

.quotebox div {
    max-width:800px;
    padding: 80px;
}

.quote {
    font-size: 28px;
    font-style: italic;
    font-weight: 100;
    margin-bottom:10px;
}

.author {
    text-align: end;
    font-size:24px;
    font-weight: bold;
    margin:0;
}

/* signup section */

.signup {
    background-color:white;
}

.modal {
    background-color: #3882F6;
    padding:30px 100px;
    margin: 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.left-modal h4, p{
    margin: 0;
    padding: 0;
}

.right-modal button {
    color: white;
    text-decoration: none;
    background: none;
    border: solid white 1px;
    border-radius: 4px;
    padding: 5px 20px;
    font-weight: bold;
}

/* footer section */

.footer {
    display:flex;
    justify-content: center;
    padding: 30px;
}